.pupopCount .count{
	padding: 5px 20px;
}
.pupopCount .count1{
	overflow: auto;
}
.pupopCount .count1>h1{
	padding-bottom:20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	font-family: "AvantGardeGothicITCW02B 737103",'Arial Black',Gadget,sans-serif;
}
.pupopCount .count1>.p1{
	font-size: 0;
}
.pupopCount .count1>.p1>span{
	display: inline-block;
	padding:10px;
	border: 1px solid #d3d3d3;
	color: #fff;
	background: #000;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
}
.pupopCount .count1>.p1>span.active{
	color: #333;
	background: #fff;
}
.pupopCount .count3>div{
	padding:0 14px;
}
.pupopCount .count3 p{
	font-size: 12px;
}
.pupopCount .count3 .p1{
	padding-left: 60px;
}
.pupopCount .count3 .p2{
	padding-left:90px;
}
.pupopCount .count3 .p3,.pupopCount .count3 .ul>li{
	padding-left:30px;
}
.pupopCount .count3>.twoCount,.pupopCount .count3>.threeCount,
.pupopCount .count3>.foruCount,.pupopCount .count3>.fiveCount{
	display: none;
}
.pupopCount .count3 .table{
	width: auto;
}
.pupopCount .count3 .table td{
	width: 231px;
	padding: 10px;
}
.pupopCount .count3 h3{
	text-transform: uppercase;
	letter-spacing: -1px;
}