.forgotpwd{
	margin-bottom: 20%;
}
.forgotpwd>.p1{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: -1px;
}
.forgotpwd form{
	width: 470px;
	margin-top: 40px;
}
form .form-group{
	display: flex;
}
form .form-group>label{
	flex: 1;
	height: 40px;
	line-height: 40px;
	font-weight: normal;
}
form .form-group>.input{
	flex: 3;
	position: relative;
}
form .form-group>.input>input{
	height: 40px;
	width: 100%;
	padding-left: 10px;
	border: 1px solid #ccc;
	
}
form .form-group>.input>i{
	position: absolute;
	right: -35px;
	top: 2px;
	display:none;
}
form .form-group>.input>p{
	display: none;
	color:#b00b0b;
	margin-bottom: 0;
	padding:5px 10px;
	font-size: 12px;
}
.forgotpwd button{
	width: 200px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	border: 0;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	background-color: #d0a144;
}
.forgotpwd button>a{
	color: #fff;
	display: inline-block;
	width: 100%;
	height: 100%;
	font-weight: bold;
	text-transform: uppercase;
}
.forgotpwd button>a>i{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #fff;
	color:#d0a144;
	font-size: 14px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	margin-left: 10px;
}
form hr{
	margin-top: 40px;
}
.form>.buttons{
	margin-bottom: 40px;
}

.forgotpwd .form1{
	width: 600px;
	display: none;
}
.form1>.form-group>label{
	flex: 3;
}
.form1>.form-group>.input{
	flex: 7;
}